extends ./layout.pug
block banner
  .banner.apply
    .container
      h1.title-img Apply now
      a.btn-close(href="/")
block content
  div(style="margin-top: 80px;")
    p.evt-desc(style="font-size: 21px; max-width: 812px;")
      | STARTUP RIDES 2017 is designed for travel and transportation startups to meet potential investors and partners on rides around Hong Kong City.
      br
      br
      | Ten startups will be selected to get on the ride and connect at the  networking party.
      br
      br
      | Five more will be chosen to join everybody at the party.
    form(action="http://submit.easi-way.com/submit/rides" method="POST" enctype="multipart/form-data" onsubmit="return validate()" accept-charset="utf-8")
      h3.apply About Service
      .form-group
        label Service Name
          span.required *
        input.form-control(type="text" name="service[name]" required)
      .form-group
        label Service URL
          span.required *
        input.form-control(type="text" name="service[url]" required)
      h3.apply About Company
      .form-group
        label Company Name
          span.required *
        input.form-control(type="text" name="company[name]" required)
      .form-group
        label Founded at
          span.required *
        input.form-control(type="text" name="company[founded]" required)
      .form-group
        label Current Funding Status
        select.form-control(name="company[funding]")
          option(disabled selected value="") --- Please Select ---
          option(value="0-100k") a. 0-100k
          option(value="100k-500k") b. 100k-500k
          option(value="500k-1mil") c. 500k-1mil
          option(value="1mil-3mil") d. 1mil-3mil
          option(value="3mil+") e. 3mil+
      h3.apply
        | Tell us about you and your team
        div(style="font-size: 16px; color: #aeaeae; margin-top: 5px")
          | *This description will be added in the media kit for this event.
      label 500 words max. in English
      textarea.form-control(name="explain[text]")
      label Under 3M bytes
        span.required *
      input.upload-file(name="pitch_deck" type="file" required)

      h3.apply Contact Point
      .form-group
        label Name
          span.required *
        input.form-control(type="text" name="contact[name]" required)
      .form-group
        label Email
          span.required *
        input.form-control(type="email" name="contact[email]" required)
      .form-group
        label Phone Number
          span.required *
        input.form-control(type="text" name="contact[phone]" required)
      .form-group
        label Whatsapp, WeChat, KakaoTalk, Line or other messengers
          span.required *
        input.form-control(type="text" name="contact[im]" required)
      .form-group
        label Memo
        textarea.form-control(name="contact[memo]" style="min-height: 83px; height: 83px;")
        p(style="font-size: 16px; line-height: 22px; color: #aeaeae")
          | -Twitter, Facebook, Instagram, etc
          br
          | -Any dietary preferences? (Not guaranteed, but we will do you best to meet your request.)

      p.evt-desc
        | *Only one participant from each company may join the Tesla rides and networking party. 
      p.evt-desc(style="font-size: 36px; font-weight: bold; color: #555555; margin-top: 57px;")
        | Thanks for applying!
        br
        | We will give out the results on July 7 Fri via email.

      button.btn-apply.btn-submit(type="submit" style="max-width: 684px;").center-block.btn.btn-block.btn-primary Submit
  //footer include
block footer
  - var bgcolor = "#e8d807";
  include ./footer.pug
block script
  script(src="/js/jquery.nicefileinput.min.js")
  script(type="text/javascript").
    function validate() {
      if ($(".upload-file")[1].files[0].size > 3*1024*1024) {
        alert("Upload file size maximum exceeds (3MB)");
        return false;
      }
      return true;
    }
