footer(style="background-color:"+bgcolor).clearfix
  h1.pull-left.title-img STARTUP RIDES
  a.contact-link.pull-left(href="mailto:startuprides@easi-way.com") startuprides@easi-way.com
  a.contact-link.pull-left(href="mailto:startuprides@easi-way.com") startuprides@easi-way.com

