footer(style="background-color:"+bgcolor)
  .container
    .clearfix
      h1.pull-left.title-img STARTUP RIDES
      a.contact-link.pull-left(href="mailto:startuprides@easi-way.com") startuprides@easi-way.com
    p.copyright &copy;2016 Easiway All rights reserved.
