extends ./layout.pug
block content
  .banner
    h1.title-img STARTUP RIDES
    a.btn-apply(href="/apply").btn.btn-primary.btn-lg Apply Now
  div
    nav#main-nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.nav-justified
            li.active
              a(href="#") Event Schedule
            li
              a(href="#") Venture Capitals
            li
              a(href="#") Apply
            li
              a(href="#") Hosts


    .halo
      h2.halo-title Speed dating with VC in Tesla
    p.evt-desc Startup Rides is hosted by Easiway and IBM softlayer. And it is supported by Rise conference. This event is specially designed to help startups for a private meeting with investors. But we do not want you to be at a cold VC office. For a more intimate relationship, we have prepared Tesla rides with investors. If you want to enjoy  a Hong Kong city ride with investor, please submit your application right now!

    h3 Event Schedule
    .panel.panel-info
      .panel-heading
        .phase Application
        .date May 10 Tue - 25 Wed

    .panel.panel-info
      .panel-heading
        .phase Selection
        .date May 27 Fri

    .panel.panel-info
      .panel-heading
        .phase Book a ride
        .date May 30 Mon
      .panel-body
        .easiway-app-icon
        ul.list-unstyled
          li.desc Download ‘Easiway’ app
          li
            .desc Make a resevation with given information
            .desc-sub Pick up location and time will be provied via email
          li
            .desc Finish booking with special promotion code
            .desc-sub No need to pay / Only selected team will get the code
    .panel.panel-info
      .panel-heading
        .phase Meeting with VCs
        .date June 1 Wed 6:00-8:00 PM
      .panel-body
        .bg-wrapper
          .bg-hk
        dl.dl-horizontal
          dt Pick up point A »
          dd
            .desc Convention & Exhibition Center
            .desc-sub 1 Expo Dr, Wan Chai, Hong Kong
          dt Pick up point B »
          dd
            .desc IFC Mall
            .desc-sub 8 Finance Street, Central, Hong Kong
          dt Meeting time »
          dd.desc 20-30minutes Easiway rides with VCs

    #vc-wrapper
      .gray-overlay
        p Will Be Announced Soon
      h3(style="margin-top: 0px;margin-bottom: 60px; padding-top: 50px;position: relative") Venture Capitals
      .row#vc-list
        .col-md-4.col-sm-12.col-xs-12
          .vc-item
            .photo-ph
            .vc-name John Doe
            .vc-title
              | Vice president
              br
              | Venture company
        .col-md-4.hidden-sm.hidden-xs.col-sm-12.col-xs-12
          .vc-item
            .photo-ph
            .vc-name John Doe
            .vc-title
              | Vice president
              br
              | Venture company
        .col-md-4.hidden-sm.hidden-xs.col-sm-12.col-xs-12
          .vc-item
            .photo-ph
            .vc-name John Doe
            .vc-title
              | Vice president
              br
              | Venture company

    h3 Qualification
    p.evt-desc There is no certain conditions to be selected. You only need to be a startup with passion. Look forward to meeting you all.

    a.btn-apply(href="/apply" style="max-width: 684px;").center-block.btn.btn-block.btn-primary Apply Now

    h3 Hosts
    p.evt-desc 'Startup Rides' is proudly hosted by Easiway and Softlayer.

    // hosts logo part
    .hosts.row
      .col-md-6.col-sm-6
        a.host-logo.easiway(href="http://geteasiway.com" target="_blank") easiway
      .col-md-6.col-sm-6
        a.host-logo.softlayer(href="#") Softlayer

    //footer include
  - var bgcolor = "#1ed977";
  include ./footer.pug
