extends ./layout.pug
block banner
  .banner
    .container
      h1.title-img STARTUP RIDES
      a.btn-apply(href="/apply.html").btn.btn-primary.btn-lg Apply Now
  div
    .nav-container
      nav#main-nav.navbar.navbar-default
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar

          .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.nav-justified
              li
                a(href="#schedules") Event Schedule
              li
                a(href="#vc-list") Venture Capitals
              li
                a(href="#apply") Apply
              li
                a(href="#hosts") Hosts
block content
  div
    .halo
      h2.halo-title
        | Speed Date with VCs on Tesla Rides
        br
        | for Travel Startups
    p.evt-desc(style="font-size: 20px;")
      | STARTUP RIDES 2017 is designed for travel and transportation startups
      br
      | to meet potential investors and partners on rides around Hong Kong City.
      br
      br
      | Ten startups will be selected to get on the ride and connect at the networking party.
      br
      br
      | Five more will be chosen to join everybody at the party.

    h3#schedules Event Schedule
    .panel.panel-info
      .panel-heading
        .phase Applications are Due by
        .date June 5 - July 3 Mon

    .panel.panel-info
      .panel-heading
        .phase Results will be announced on
        .date July 7 Fri

    .panel.panel-info
      .panel-heading
        .phase Meeting & Networking Party with Potential VCs and Partners
        .date July 12 Wed 18:00 - 21:00 PM
      .panel-body
        .bg-wrapper
          img.img-responsive(src="/img/img-hongkong@2x.png")
        dl.dl-horizontal
          dt Pick up point &raquo;
          dd
            .desc Convention & Exhibition Center (Old Wing)
              a(href="https://goo.gl/maps/9ggrir9PKKD2" target="_blank").icn-loc
            .desc-sub 1 Expo Dr, Wan Chai, Hong Kong
          dt Drop off point &raquo;
          dd
            .desc Meen and Rice
              a(href="https://goo.gl/maps/zBYAx1dRqYr" target="_blank").icn-loc
            .desc-sub The Pulse Shop 113, Level 1, 28 Beach Road, Repulse Bay
          dt
            | 1:1 pitching in
            br
            | a Tesla &raquo;
          dd.desc 20-30 minutes Easiway rides with VCs
          dt
            | Networking
            br
            | Party &raquo;
          dd.desc The rides will take you to the networking party so you can meet all the investors and other startups.

    #vc-list
      h3(style="margin-top: 0px;margin-bottom: 60px; padding-top: 50px;position: relative") Venture Capitals
      p.evt-desc To Be Updated Soon
      //.row#vc-wrapper
        .col-md-4.col-sm-6.col-xs-6
          .vc-item
            a(href="http://500.co/" target="_blank")
              .photo-ph.st500
            .vc-name 500startups
        .col-md-4.col-sm-6.col-xs-6
          .vc-item
            a(href="http://www.gobivc.com/" target="_blank")
              .photo-ph.gobi
            .vc-name Gobi Partners
        .col-md-4.col-sm-6.col-xs-6
          .vc-item
            a(href="https://sosv.com" target="_blank")
              .photo-ph.sosv
            .vc-name SOSV
        .col-md-4.col-sm-6.col-xs-6
          .vc-item
            a(href="http://www.cherubicvc.com/" target="_blank")
              .photo-ph.cherubic
            .vc-name Cherubic Ventures
        .col-md-4.col-sm-6.col-xs-6
          .vc-item
            a(href="http://appworks.tw/" target="_blank")
              .photo-ph.appworks
            .vc-name AppWorks Ventures
        .col-md-4.col-sm-6.col-xs-6
          .vc-item
            a(href="http://www.alphajwc.com/" target="_blank")
              .photo-ph.alphajwc
            .vc-name Alpha JWC Ventures

    h3#apply Qualification
    p.evt-desc We are looking for any startups in the travel or transportation industry.

    a.btn-apply(href="/apply.html" style="max-width: 684px;").center-block.btn.btn-block.btn-primary Apply Now

    h3#hosts Hosts
    p.evt-desc STARTUP RIDES 2017 is proudly hosted by
      br
      | Easiway, Rise Conference, SendGrid, LIVE house and StartUpsHK.

    // hosts logo part
    .hosts.clearfix
      a.host-logo.easiway(href="http://geteasiway.com" target="_blank") easiway
      a.host-logo.rise(href="https://riseconf.com" target="_blank") RISE
      a.host-logo.startupshk(href="http://www.startupshk.com/" target="_blank") StartUpsHK
      a.host-logo.livehousein(href="https://livehouse.in/" target="_blank") LIVE house
      a.host-logo.sendgrid(href="https://sendgrid.com/" target="_blank") SendGrid
      a.host-logo.blank

  //footer include
block footer
  - var bgcolor = "#1ed977";
  include ./footer.pug
