doctype html
html(lang="en")
  head
    title Startup Rides
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,900,300' rel='stylesheet' type='text/css')
    <!-- build:css:dist /css/main.min.css -->
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="/css/main.css")
    <!-- /build -->
    block header
  body
    .container
      block content
    block script
